<h1>Examen Django</h1>
<form action="{% url 'examen:resolver' %}" method="POST">
    {% csrf_token %}
    <ul>
        {% for pregunta in preguntas %}
        <li>{{pregunta.pregunta_texto}}
            <ul>
                {% for opcion in pregunta.opcion_set.all %}
                <li>
                    <input type="radio" name="pregunta_{{pregunta.id}}" value="{{opcion.puntos}}">
                    {{opcion.opcion_texto}}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Enviar">
</form>